<h1>Edit FvSolution</h1>

<form action="/api/fvsolution/create/" method="post">
	{% csrf_token %}
	
	<h2>SOLVERS</h2>
	{% for varkey, varval in fvsolution_data.solvers.items %}
		<h3>{{varkey}}</h3>
		{% for varitemskey, varitemsval in varval.items %}
			<label for="{{varitemskey}}">{{varitemskey}}: </label>
    		<input id="{{varitemskey}}" type="text" size="30" name="SOLVERS{{varkey}}{{varitemskey}}" value="{{ varitemsval }}" ><br><br>
		{% endfor %}	
	{% endfor %}

	<h2>SIMPLE</h2>
	{% for varkey, varval in fvsolution_data.SIMPLE.items %}
		<h3>{{varkey}}</h3>
		{% if varkey == 'residualControl' %}
			{% for varitemskey, varitemsval in varval.items %}
				<label for="{{varitemskey}}">{{varitemskey}}: </label>
    			<input id="{{varitemskey}}" type="text" size="30" name="SIMPLE{{varkey}}{{varitemskey}}" value="{{ varitemsval }}" ><br><br>
			{% endfor %}
		{% else %}
			<label for="{{varkey}}">{{varkey}}: </label>
    		<input id="{{varkey}}" type="text" size="30" name="SIMPLE{{varkey}}" value="{{ varval }}" ><br><br>
		{% endif %}	
	{% endfor %}

	<h2>RELAXATIONFACTORS</h2>
	{% for varkey, varval in fvsolution_data.relaxationFactors.items %}
		<h3>{{varkey}}</h3>
		{% for varitemskey, varitemsval in varval.items %}
			<label for="{{varitemskey}}">{{varitemskey}}: </label>
    		<input id="{{varitemskey}}" type="text" size="30" name="RELAXATIONFACTORS{{varkey}}{{varitemskey}}" value="{{ varitemsval }}" ><br><br>
		{% endfor %}
	{% endfor %}


	<label for="WorkDir">WorkDir: </label>
    <input id="wd" type="text" size="30" name="workdir" value="{{ tp_data.workdir }}" readonly><br><br>

    <label for="CaseName">CaseName: </label>
    <input id="cn" type="text" size="30" name="casename" value="{{ tp_data.casename }}" readonly><br><br>

	<input type="submit" name="editfvsolution" value="Edit"><br><br>
	{% if status %}<p><strong>{{status}}</strong></p>{% endif %}

    <input id="st" type="hidden" size="30" name="simulationType" value="{{ tp_data.simulationType }}"><br><br>
    <input id="stm" type="hidden" size="30" name="simulationTypeModel" value="{{ tp_data.simulationTypeModel }}"><br><br>

</form>