<h1>Edit TransportProperties</h1>

<form action="/api/transportproperties/create/" method="post">
	{% csrf_token %}

	<label for="TransportModel">TransportModel: </label>
    <input id="tm" type="text" size="30" name="transportModel" value="{{ transportModel }}" readonly><br><br>

    {% if transportModel == 'Newtonian' %}
	   <label for="nu">nu [0 2 -1 0 0 0 0]: </label>
       <input id="nu" type="number" name="nu" step="any" value="{{ nu }}"><br><br>
    {% else %}
        <h2>{{transportModel}}Coeffs</h2>
        <label for="nu0">nu0 [0 2 -1 0 0 0 0]: </label>
        <input id="nu0" type="number" name="nu0" step="any" value="{{ nu0 }}"><br><br>

        <label for="nuInf">nuInf [0 2 -1 0 0 0 0]: </label>
        <input id="nuInf" type="number" name="nuInf" step="any" value="{{ nuInf }}"><br><br>

        <label for="m">m [0 0 1 0 0 0 0]: </label>
        <input id="m" type="number" name="m" step="any" value="{{ m }}"><br><br>

        <label for="n">n [0 0 0 0 0 0 0]: </label>
        <input id="n" type="number" name="n" step="any" value="{{ n }}"><br><br>
    {% endif %}


    <label for="WorkDir">WorkDir: </label>
    <input id="wd" type="text" size="30" name="workdir" value="{{ workdir }}" readonly><br><br>

    <label for="CaseName">CaseName: </label>
    <input id="cn" type="text" size="30" name="casename" value="{{ casename }}" readonly><br><br>

	<input type="submit" name="edittransport" value="Edit"><br><br>
	{% if status %}<p><strong>{{status}}</strong></p>{% endif %}

    <input id="st" type="hidden" size="30" name="simulationType" value="{{ simulationType }}"><br><br>
    <input id="stm" type="hidden" size="30" name="simulationTypeModel" value="{{ simulationTypeModel }}"><br><br>

</form>