<h1>Edit TransportModel</h1>

<form action="/api/transportproperties/coeffconfig/" method="post">
	{% csrf_token %}

	<label for="TransportModel">TransportModel: </label>
    <input id="tm" type="text" size="30" name="transportModel" value="{{ transportModel }}"><br><br>

    <label for="WorkDir">WorkDir: </label>
    <input id="wd" type="text" size="30" name="workdir" value="{{ workdir }}" readonly><br><br>

    <label for="CaseName">CaseName: </label>
    <input id="cn" type="text" size="30" name="casename" value="{{ casename }}" readonly><br><br>

	<input type="submit" name="editTransportModel" value="Edit"><br><br>
	{% if status %}<p><strong>{{status}}</strong></p>{% endif %}

    <input id="st" type="hidden" size="30" name="simulationType" value="{{ simulationType }}"><br><br>
    <input id="stm" type="hidden" size="30" name="simulationTypeModel" value="{{ simulationTypeModel }}"><br><br>
</form>