{% comment %}
<!DOCTYPE html>
<html>
    <head>
        <title>Let's get djangtahstie</title>
    </head>

    <body>

    	{{data}}

    </body>
</html>
{% endcomment %}

<h1>Create Case</h1>

<form action="/api/createcase/create/" method="post">
	{% csrf_token %}
	<label for="WorkDir">WorkDir: </label>
    <input id="wd" type="text" name="workdir" value="{{ workdir }}"><br>

	<label for="CaseName">CaseName: </label>
    <input id="cn" type="text" name="casename" value="{{ casename }}"><br><br> 

	<input type="submit" name="createCase" value="Create"><br><br>
	<input type="submit" name="deleteCase" value="Delete"><br><br>

	{% comment %}<a href="/api/createcase/delete/">Click here</a><br><br>{% endcomment %}

	{% if status %}<p><strong>{{status}}</strong></p>{% endif %}
</form>