<h1>Edit Boundary</h1>

<form action="/api/boundary/create/" method="post">
	{% csrf_token %}

	{% for key, values in boundaries.items %}

		{% if key == 'workdir' or key == 'casename' %}

			<label for="{{key}}">{{key}}: </label>
    		<input id="{{key}}" type="text" size="30" name="{{key}}" value="{{ values }}" readonly><br><br>

    	{% else %}

    		<label for="BoundaryName">BoundaryName {{forloop.counter}}: </label>
			<input id="{{values.name}}" type="text" size="30" name="BoundaryNameNew{{forloop.counter}}" value="{{values.name}}"><br><br>

			<label for="BoundaryType">BoundaryType {{forloop.counter}}: </label>
			<input id="{{values.type}}" type="text" size="30" name="BoundaryTypeNew{{forloop.counter}}" value="{{values.type}}"><br><br>

			<input id="{{values.name}}" type="hidden" size="30" name="BoundaryNameOld{{forloop.counter}}" value="{{values.name}}"><br>
	
    	{% endif %}
	{% endfor %}

	<input type="submit" name="editboundary" value="Edit"><br><br>
	{% if status %}<p><strong>{{status}}</strong></p>{% endif %}
</form>