<h1>Edit ControlDict</h1>

<form action="/api/controldict/create/" method="post">
	{% csrf_token %}

	<label for="Application">Application: </label>
    <input id="app" type="text" size="30" name="application" value="{{ application }}"><br><br>

    <label for="StartFrom">StartFrom: </label>
    <input id="sf" type="text" size="30" name="startFrom" value="{{ startFrom }}"><br><br>

    <label for="StartTime">StartTime: </label>
    <input id="st" type="number" name="startTime" min="0" value="{{ startTime }}"><br><br>

    <label for="StopAt">StopAt: </label>
    <input id="sa" type="text" size="30" name="stopAt" value="{{ stopAt }}"><br><br>

    <label for="EndTime">EndTime: </label>
    <input id="et" type="number" name="endTime" min="0" value="{{ endTime }}"><br><br>

    <label for="DeltaT">DeltaT: </label>
    <input id="dt" type="number" name="deltaT" min="1" value="{{ deltaT }}"><br><br>

    <label for="WriteControl">WriteControl: </label>
    <input id="wc" type="text" size="30" name="writeControl" value="{{ writeControl }}"><br><br>

    <label for="WriteInterval">WriteInterval: </label>
    <input id="wi" type="number" name="writeInterval" min="1" value="{{ writeInterval }}"><br><br>

    <label for="PurgeWrite">PurgeWrite: </label>
    <input id="pw" type="number" name="purgeWrite" min="0" value="{{ purgeWrite }}"><br><br>

    <label for="WriteFormat">WriteFormat: </label>
    <input id="wf" type="text" size="30" name="writeFormat" value="{{ writeFormat }}"><br><br>

    <label for="WriteCompression">WriteCompression: </label>
    <input id="wc" type="checkbox" name="writeCompression" value="{{ writeCompression }}" {% if writeCompression == 'on' %}checked{% endif %}><br><br>

    <label for="WritePrecision">WritePrecision: </label>
    <input id="wp" type="number" name="writePrecision" min="0" value="{{ writePrecision }}"><br><br>

    <label for="TimeFormat">TimeFormat: </label>
    <input id="tf" type="text" size="30" name="timeFormat" value="{{ timeFormat }}"><br><br>

    <label for="TimePrecision">TimePrecision: </label>
    <input id="tp" type="number" name="timePrecision" min="0" value="{{ timePrecision }}"><br><br>

    <label for="RunTimeModifiable">RunTimeModifiable: </label>
    <input id="rtm" type="checkbox" name="runTimeModifiable" value="{{ runTimeModifiable }}" {% if runTimeModifiable == 'true' %}checked{% endif %}><br><br>

    <label for="WorkDir">WorkDir: </label>
    <input id="wd" type="text" size="30" name="workdir" value="{{ workdir }}" readonly><br><br>

    <label for="CaseName">CaseName: </label>
    <input id="cn" type="text" size="30" name="casename" value="{{ casename }}" readonly><br><br>

	<input type="submit" name="editcontroldict" value="Edit"><br><br>
	{% if status %}<p><strong>{{status}}</strong></p>{% endif %}
</form>