<h1>Import Mesh</h1>

<form action="/api/importmesh/convert/" method="post">
	{% csrf_token %}

	<label for="WorkDir">WorkDir: </label>
    <input id="wd" type="text" size="30" name="workdir" value="{{ workdir }}" readonly><br><br>

    <label for="CaseName">CaseName: </label>
    <input id="cn" type="text" size="30" name="casename" value="{{ casename }}" readonly><br><br>

	<label for="MeshFile">MeshFile: </label>
    <input id="mf" type="text" size="80" name="meshfile" value="{{ meshfile }}"><br><br>

    <input type="submit" name="convertmesh" value="Convert"><br><br>
    {% comment %}<input type="submit" name="deletemesh" value="Delete"><br><br>{% endcomment %}

    {% if status %}<p><strong>{{status}}</strong></p>{% endif %}
</form>