<h1>Execute Solver</h1>

<form action="/api/solver/execute/" method="post">
	{% csrf_token %}

	<label for="SolverName">SolverName: </label>
    <select name="solvername">
  		<option value="simpleFoam">simpleFoam</option>
  		<option value="pimpleFoam">pimpleFoam</option>
  		<option value="rhoSimpleFoam">rhoSimpleFoam</option>
  		<option value="rhoPimpleFoam">rhoPimpleFoam</option>
	</select><br><br>

	<label for="WorkDir">WorkDir: </label>
    <input id="wd" type="text" size="30" name="workdir" value="{{ workdir }}" readonly><br><br>

    <label for="CaseName">CaseName: </label>
    <input id="cn" type="text" size="30" name="casename" value="{{ casename }}" readonly><br><br>

	<input type="submit" name="runsimplefoam" value="Edit"><br><br>
	{% if status %}<p><strong>{{status}}</strong></p>{% endif %} 
</form>