<h1>Edit Simulation Type</h1>

<form action="/api/turbulenceproperties/coeffconfig/" method="post">
	{% csrf_token %}

	<label for="SimulationType">SimulationType: </label>
    <input id="st" type="text" size="30" name="simulationType" value="{{ simulationType }}"><br><br>

    <label for="WorkDir">WorkDir: </label>
    <input id="wd" type="text" size="30" name="workdir" value="{{ workdir }}" readonly><br><br>

    <label for="CaseName">CaseName: </label>
    <input id="cn" type="text" size="30" name="casename" value="{{ casename }}" readonly><br><br>

	<input type="submit" name="editSimulationType" value="Edit"><br><br>
	{% if status %}<p><strong>{{status}}</strong></p>{% endif %} 
</form>