<h1>Edit TurbulenceProperties</h1>

<form action="/api/turbulenceproperties/create/" method="post">
	{% csrf_token %}

	<label for="SimulationType">SimulationType: </label>
    <input id="st" type="text" size="30" name="simulationType" value="{{ simulationType }}" readonly><br><br>

    {% if not simulationType == 'laminar' %}
        {% for key, val in simulationTypeAttrs.items %}
            <label for="{{key}}">{{key}}: </label>
            <input id="simulationTypeAttrs{{key}}" type="text" size="30" name="simulationTypeAttrs{{key}}" value="{{ val }}" ><br><br>
        {% endfor %}
    {% endif %}

    <label for="WorkDir">WorkDir: </label>
    <input id="wd" type="text" size="30" name="workdir" value="{{ workdir }}" readonly><br><br>

    <label for="CaseName">CaseName: </label>
    <input id="cn" type="text" size="30" name="casename" value="{{ casename }}" readonly><br><br>

	<input type="submit" name="editturbulence" value="Edit"><br><br>
	{% if status %}<p><strong>{{status}}</strong></p>{% endif %} 
</form>