<h1>Edit FvSchemes</h1>

<form action="/api/fvschemes/create/" method="post">
	{% csrf_token %}

	<h2>ddtSchemes</h2>
	<label for="ddtSchemes">default: </label>
    <input id="ddt" type="text" size="30" name="ddt" value="{{ ddtSchemes.default }}"><br><br>

    <h2>gradSchemes</h2>
    <label for="gradSchemes">default: </label>
    <input id="grad" type="text" size="30" name="grad" value="{{ gradSchemes.default }}"><br><br>

	{% if divSchemes %}
		<h2>divSchemes</h2>
		{% for key, val in divSchemes.items %}
			<label for="{{key}}">{{key}}: </label>
    		<input id="divSchemes{{key}}" type="text" size="40" name="divSchemes{{key}}" value="{{ val }}"><br><br>
		{% endfor %}
	{% endif %}
	<br><br>


	<h2>laplacianSchemes</h2>
	<label for="laplacianSchemes">default: </label>
    <input id="laplacian" type="text" size="30" name="laplacian" value="{{ laplacianSchemes.default }}"><br><br>

    <h2>interpolationSchemes</h2>
    <label for="interpolationSchemes">default: </label>
    <input id="inter" type="text" size="30" name="inter" value="{{ interpolationSchemes.default }}"><br><br>

    <h2>snGradSchemes</h2>
    <label for="snGradSchemes">default: </label>
    <input id="sngrad" type="text" size="30" name="sngrad" value="{{ snGradSchemes.default }}"><br><br>

    <h2>wallDist</h2>
    <label for="wallDist">method: </label>
    <input id="wallDist" type="text" size="30" name="wallDist" value="{{ wallDist.method }}"><br><br>

    <br><br>

	<label for="WorkDir">WorkDir: </label>
    <input id="wd" type="text" size="30" name="workdir" value="{{ workdir }}" readonly><br><br>

    <label for="CaseName">CaseName: </label>
    <input id="cn" type="text" size="30" name="casename" value="{{ casename }}" readonly><br><br>

	<input type="submit" name="editfvschemes" value="Edit"><br><br>
	{% if status %}<p><strong>{{status}}</strong></p>{% endif %}

    <input id="st" type="hidden" size="30" name="simulationType" value="{{ simulationType }}"><br><br>
    <input id="stm" type="hidden" size="30" name="simulationTypeModel" value="{{ simulationTypeModel }}"><br><br>

</form>