<h1>Edit Fields</h1>

<form action="/api/fields/create/" method="post">
	{% csrf_token %}

	{% for key, value in fields.items %}

		{% if key in fields.simulationTypeModelList %}

			<h2>{{key}}</h2>

			{% for subkey, subval in value.items %}

				{% if subkey == 'boundaryField' %}

					<h3>{{key}} - boundaryField</h3>

					{% for subsubkey, subsubval in subval.items %}

						<h4>{{subsubkey}}</h4>

						<label for="{{key}}_{{subkey}}_{{subsubkey}}_type">type: </label>
    					<input id="{{key}}_{{subkey}}_{{subsubkey}}_type" type="text" size="40" name="{{key}}_{{subkey}}_{{subsubkey}}_type" value="{{ subsubval.type }}"><br><br>

    					<label for="{{key}}_{{subkey}}_{{subsubkey}}_value">value: </label>
    					<input id="{{key}}_{{subkey}}_{{subsubkey}}_value" type="text" size="40" name="{{key}}_{{subkey}}_{{subsubkey}}_value" value="{{ subsubval.value }}"><br><br>						

					{% endfor %}

				{% elif subkey == 'dimensions' or subkey == 'dict_class' %}

					<input id="{{key}}_{{subkey}}" type="hidden" size="40" name="{{key}}_{{subkey}}" value="{{ subval }}">

				{% else %}

					<label for="{{key}}_{{subkey}}">{{subkey}}: </label>
    				<input id="{{key}}_{{subkey}}" type="text" size="40" name="{{key}}_{{subkey}}" value="{{ subval }}"><br><br>

				{% endif %}

			{% endfor %}

			<br><br><br>

		{% else %}

			{% if key == 'simulationType' or key == 'simulationTypeModel' or key == 'simulationTypeModelList' or  key == 'boundary_names_list' or key == 'field_list' %}

    			<input id="{{key}}" type="hidden" size="40" name="{{key}}" value="{{ value }}">

			{% else %}

				<label for="{{key}}">{{key}}: </label>
    			<input id="{{key}}" type="text" size="40" name="{{key}}" value="{{ value }}"><br><br>

			{% endif %}

		{% endif %}

	{% endfor %}

	<input type="submit" name="editfields" value="Edit"><br><br>
	{% if status %}<p><strong>{{status}}</strong></p>{% endif %} 

</form>